* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  background-color: rgb(65, 65, 65);
  padding: 1rem;
}

.nav__list {
  display: flex;
  flex-direction: row;
  width: 100%;
  list-style-type: none;
  justify-content: space-evenly;
}

.nav__list-item {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  font-family: jost;
  font-size: 18px;
}

.nav__list-item a {
  color: white;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
}

.hero__container {
  background-image: url("../img/dumbbell-1966247_1920.jpg");
  height: 500px;
  width: 100%;
}

.hero__title {
  font-size: 40px;
  font-weight: 700;
  color: azure;
  font-family: jost;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
  line-height: 60px;
}

.hero__message {
  font-size: 20px;
  font-family: jost;
  color: azure;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.formcontainer {
  background-color: #84a6d6;
  padding: 20px 0;
}

.formcontainer__heading {
  font-size: 30px;
  font-weight: bold;
  font-family: jost;
  text-align: center;
  padding: 20px 0;
}

.form {
  background-color: lightpink;
  padding: 15px;
}

.footer {
  background-color: chartreuse;
}
